<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: beige; text-align: center;">

    <main style="width: 700px; margin: 10%;">
        <div style="float: left; height: 350px; width: 350px;">
            <img data-imagetype="External" src="https://app.xerpa.com.br/images/email/rg_onboard.jpg"/>
        </div>
        <div style="float: right; height: 350px; width: 350px;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, expedita nostrum praesentium sunt aperiam voluptates voluptas nesciunt eos impedit modi quibusdam debitis eius cum beatae facilis odit, labore soluta asperiores? </p>
        </div>
    </main>
    
</body>
</html>